.fill-width {
  width: 100% !important;
}

.d-flex {
  display: flex;
}

.fill-height {
  height: 100%;
}
.bd-radius-12 {
  border-radius: 12px !important;
}

.border-none {
  border: none !important;
}

// variables scss
$flexDirections: ('row', 'row-reverse', 'column', 'column-reverse');

@each $direction in $flexDirections {
  .flex-#{$direction} {
    flex-direction: #{$direction};
  }
}

$alignItems: ('stretch', 'center', 'flex-start', 'flex-end', 'baseline');

@each $align in $alignItems {
  .align-#{$align} {
    align-items: #{$align};
  }
}

$justifyContents: (
  'center',
  'space-around',
  'space-between',
  'space-evenly',
  'flex-end',
  'flex-start'
);

@each $justify in $justifyContents {
  .justify-#{$justify} {
    justify-content: #{$justify};
  }
}

$gaps: (0, 4, 6, 8, 10, 12, 15, 16, 18, 20, 24, 32, 30, 40, 60, 70, 80);

@each $gap in $gaps {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}

$listRadius: (0, 4, 6, 8, 10, 12, 15, 16, 18, 20, 24, 32, 30, 40, 60, 70, 80);

@each $radius in $listRadius {
  .border-radius-#{$radius} {
    border-radius: #{$radius}px !important;
  }
}

$amounts: (
  0,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  20,
  24,
  26,
  19,
  20,
  24,
  25,
  26,
  28,
  30,
  36,
  40,
  50,
  60
);

$directions: (top, bottom, left, right, x, y);
@each $amount in $amounts {
  @each $direction in $directions {
    @if $direction ==y {
      .my-#{$amount} {
        margin-top: #{$amount}px !important;
        margin-bottom: #{$amount}px !important;
      }

      .py-#{$amount} {
        padding-top: #{$amount}px !important;
        padding-bottom: #{$amount}px !important;
      }
    } @else if $direction ==x {
      .mx-#{$amount} {
        margin-right: #{$amount}px !important;
        margin-left: #{$amount}px !important;
      }

      .px-#{$amount} {
        padding-right: #{$amount}px !important;
        padding-left: #{$amount}px !important;
      }
    } @else {
      .m#{str-slice($direction, 0, 1)}-#{$amount} {
        margin-#{$direction}: #{$amount}px !important;
      }

      .p#{str-slice($direction, 0, 1)}-#{$amount} {
        padding-#{$direction}: #{$amount}px !important;
      }

      .m-#{$amount} {
        margin: #{$amount}px !important;
      }

      .p-#{$amount} {
        padding: #{$amount}px !important;
      }
    }
  }
}

$fontSizes: (4, 8, 12,13, 15, 16, 18, 24, 32, 36, 48, 64);

@each $fontSize in $fontSizes {
  .fs-#{$fontSize} {
    font-size: #{$fontSize}px !important;
  }
}

$fontWeights: (100, 200, 300, 400, 500, 600, 700, 800, 900, 1000);

@each $fontWeight in $fontWeights {
  .fw-#{$fontWeight} {
    font-weight: #{$fontWeight} !important;
  }
}
